.games {
    display: flex;
    min-height: 100%;
    align-items: center;
    flex-direction: column;
    gap: var(--spacing-s);
}

.gamesContainer {
    display: grid;
    align-items: center;
    min-height: 65vh;
}
