:root {
    --text: #dae4f4;
    --background: #070c16;
    --primary: #95b3de;
    --secondary: #382679;
    --accent: #835bcc;
}

body {
    color: var(--text);
    background-color: var(--background);
}
