header {
    display: flex;
    min-width: 100%;
    align-items: center;
    justify-content: space-around;
    padding: var(--spacing-m);
    flex-wrap: wrap;
}

.headerNavigation {
    display: flex;
    list-style: none;
    gap: var(--spacing-s);
}

.headerNavigation li a {
    text-decoration: none;
}

.headerNavigation li:hover,
.headerNavigation li a:visited {
    color: var(--text);
    text-decoration: underline;
    text-underline-offset: var(--spacing-s);
}

@media (width <= 640px) {
    .headerNavigation {
        padding: 0;
    }

    h1 {
        font-size: 2.369rem;
    }

    h4 {
        font-size: 1.333rem;
    }
}
